{% load custom_tags %}

<ul class="list-unstyled">
    {% if user.is_authenticated %}
        <li class="">
            <a href="/accounts/profile"  class="c-link-no-style c-profile-button {{ request.path | check_active_url:"/accounts/profile/"}}">
                Profile page
            </a>
            <a href="/accounts/orders"  class="c-link-no-style c-profile-button {{ request.path | check_active_url:"/accounts/orders/"}}">
                Order history
            </a>
            <div class="c-profile-button {{ request.path | check_active_url:"accounts/emails/"}}">
                Newsletter
            </div>
        </li>
        <div class="dropdown-divider"></div>
        <li>
            <a href="{% url 'customer:logout' %}" class="c-logout-link-no-style c-logout-button">
                Logout
            </a>
        </li>
    {% else %}
        <li><p class="basketHeader">Login or register</p>
            <div class="dropdown-divider"></div>
            <div class="basket-sub-header">Having an account provides you many options and discounts.</div>
            <div class="dropdown-divider"></div>
            <a href="/accounts/login/" type="button" class="btn btn-dark lato-regular400-text">Login/Register form</a>
        </li>
    {% endif %}
</ul>